#
# Copyright 2018, 2020 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# The configuration in this file has to be applied after 90_dpkg.cfg,
# which is created by the cloud-init package's postinstall script,
# otherwise some of the configuration provided here can be overridden.
#

#
# While we create the user using Ansible, we need to inform cloud-init
# of this user so that SSH keys are properly inserted into this user's
# authorized_keys file (e.g. when running in EC2). Additionally, this
# will prevent cloud-init from creating the default user.
#
system_info:
  default_user:
    name: delphix
    lock_passwd: false


#
# Disable DHCP for IPv6 since cloud-init enables it by default. Match
# on the interface name with patterns matching en* or eth*.
#
network:
  version: 2
  ethernets:
    en-nics:
      match:
        name: "en*"
      dhcp4: true
      dhcp6: false
    eth-nics:
      match:
        name: "eth*"
      dhcp4: true
      dhcp6: false

#
# Without this setting, /etc/hosts will be empty. This allows cloud-init
# to at least populate it with localhost settings.
#
manage_etc_hosts: true

#
# Disable cloud-init from manipulating the APT sources. We don't want
# the Delphix appliance to rely on packages from any 3rd party sources
# (e.g. Ubuntu's APT repositories), so we need to ensure cloud-init does
# not try to configure the APT sources to point to Ubuntu's servers.
#
apt:
  preserve_sources_list: true

#
# By default, ignore ssh keys passed from the cloud management console.
# Also, discard any user data to prevent tampering with the default
# Delphix configuration. Note that those configurations are currently
# only available on Delphix's version of cloud-init.
#
allow_public_ssh_keys: false
allow_userdata: false

#
# Once keys in /etc/ssh are generated, we do not want to ever change
# them anymore. By default, if cloud-init is reset or if a new instance
# is detected, cloud-init will delete and re-generate ssh keys.
#
ssh_deletekeys: false

#
# Some clouds will provide configuration information using vendor data. Just
# like user data, we want to discard this so that we don't tamper with
# the Delphix configuration.
#
vendor_data:
  enabled: false

#
# Needed for GOSC workflow via cloud-init.
#
disable_vmware_customization: false

#
# We need to control the order of the datasource list, so we override it
# here, so that the dynamically created "90_dpkg.cfg" file doesn't take
# affect. Specifically, we need OVF to be listed before NoCloud.
#
datasource_list:
  - OVF
  - NoCloud
  - ConfigDrive
  - OpenNebula
  - DigitalOcean
  - Azure
  - AltCloud
  - MAAS
  - GCE
  - OpenStack
  - CloudSigma
  - SmartOS
  - Bigstep
  - Scaleway
  - AliYun
  - Ec2
  - CloudStack
  - Hetzner
  - IBMCloud
  - Oracle
  - Exoscale
  - RbxCloud
  - UpCloud
  - VMware
  - Vultr
  - LXD
  - NWCS
  - None

#
# We hardcode the modules here, so that we carefully control what
# cloud-init modules get executed.
#

cloud_init_modules:
 - migrator
 - seed_random
 - bootcmd
 - write-files
 - update_etc_hosts
 - ssh

cloud_config_modules:
 - wireguard
 - ubuntu_autoinstall
 - ssh-import-id
 - keyboard
 - locale
 - grub-dpkg
 - apt-pipelining
 - apt-configure
 - ntp
 - runcmd

cloud_final_modules:
 - package-update-upgrade-install
 - write-files-deferred
 - scripts-vendor
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - install-hotplug
 - final-message
