#
# Copyright 2018 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# Without this setting, /etc/hosts will be empty. This allows cloud-init
# to at least populate it with localhost settings.
#
manage_etc_hosts: true

#
# Since we're running on a ZFS-on-root installation, the "resizefs" and
# "growpart" features of cloud init won't work; thus, we explicitly
# disable them to help ensure they don't cause any harm.
#
resize_rootfs: false
growpart:
  mode: off

#
# Disable all cloud-init datasources. We don't want to allow customers
# to inject arbitrary code/users/etc. into the appliance.
#
datasource_list: [ None ]
