#!/usr/bin/make -f
#
# Copyright 2018, 2021 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Map supported platform to the kernel type that it uses.
KERNEL_TYPE.aws := aws
KERNEL_TYPE.azure := azure
KERNEL_TYPE.esx := generic
KERNEL_TYPE.gcp := gcp
KERNEL_TYPE.hyperv := azure
KERNEL_TYPE.kvm := generic
KERNEL_TYPE.oci := oracle

DELPHIX_SIGNATURE_TYPES = registration upgrade

#
# The following meta-package consolidates all the kernel packages required
# by the Delphix Appliance for a given platform. Note that delphix-kernel
# only has dependencies on kernel modules and tools that are built for a
# specific version of the kernel. Any additional tools that are not specific
# to a particular kernel version should be included in the "tools.list.chroot"
# file.
#
DEPENDS = delphix-kernel-$(KERNEL_TYPE.$(TARGET_PLATFORM)),

#
# The following packages are required in order to generate VM artifacts
# that are leveraging ZFS as their root filesystem.
#
DEPENDS += grub-pc, \
	   delphix-zfs,

#
# The following packages provide a "minimal" Ubuntu installation. This mimics
# the "ubuntu-minimal" meta-package, but since that package includes more than
# we want installed on the appliance, we can't use it directly. Additionally,
# our appliance requires a few more packages than would be pulled in by
# "ubuntu-minimal", and these additional packages are listed here.
#
DEPENDS += ansible, \
	   apparmor, \
	   apt, \
	   auditd, \
	   cloud-init, \
	   console-setup, \
	   cron, \
	   debootstrap, \
	   debsums, \
	   dmidecode, \
	   init, \
	   iproute2, \
	   iputils-ping, \
	   kbd, \
	   kmod, \
	   less, \
	   locales, \
	   logrotate, \
	   lsb-release, \
	   mount, \
	   net-tools, \
	   netbase, \
	   netplan.io, \
	   ntp, \
	   open-iscsi, \
	   openssh-server, \
	   openssl, \
	   passwd, \
	   policykit-1, \
	   procps, \
	   python3, \
	   rng-tools, \
	   rsyslog, \
	   sudo, \
	   systemd-container, \
	   tzdata, \
	   udev,

#
# The CRA PAM module provides an authentication method for the delphix user.
#
DEPENDS += pam-challenge-response,

# Platform-specific dependencies
DEPENDS.aws = nvme-cli,
DEPENDS.azure = walinuxagent, azure-cli,
DEPENDS.esx = open-vm-tools,
DEPENDS.gcp = google-compute-engine, google-guest-agent,
DEPENDS.hyperv =
DEPENDS.kvm =
DEPENDS.oci =
DEPENDS += $(DEPENDS.$(TARGET_PLATFORM))

#
# The delphix-build-info package contains build metadata related to the
# packages built by Delphix and to the appliance itself. While it is there
# mostly for human convenience, it may be used by some QA tests.
#
DEPENDS += delphix-build-info,

#
# The usrmerge package modifies the layout of directories under root (/) upon
# installation, to ensure that a Delphix Engine upgraded to Ubuntu 20.04 has
# the same directory layout as a Delphix Engine that initially came on
# Ubuntu 20.04 (or later).
#
DEPENDS += usrmerge,

#
# These packages are tools that are intended for human convenience. The
# product should not rely on them programmatically. They may be updated
# or replaced without regard for backward compatibility.
#
DEPENDS += aptitude, \
	   awscli, \
	   bcc-tools, \
	   bpftrace, \
	   crash-python, \
	   delphix-rust, \
	   dnsutils, \
	   drgn, \
	   dstat, \
	   emacs-nox, \
	   ethtool, \
	   gdb, \
	   gdb-python, \
	   htop, \
	   iftop, \
	   inotify-tools, \
	   iotop, \
	   jq, \
	   kdump-tools, \
	   ldap-utils, \
	   libkdumpfile, \
	   linux-tools-common, \
	   lsof, \
	   man-db, \
	   manpages, \
	   manpages-dev, \
	   memstat, \
	   mtr, \
	   ncdu, \
	   pciutils, \
	   performance-diagnostics, \
	   procinfo, \
	   psmisc, \
	   ptools, \
	   pv, \
	   savedump, \
	   screen, \
	   sdb, \
	   sg3-utils, \
	   snmp, \
	   snmp-mibs-downloader, \
	   strace, \
	   sysstat, \
	   tmux, \
	   trace-cmd, \
	   traceroute, \
	   tshark, \
	   vim

%:
	dh $@

override_dh_install:
	#
	# All the files that we want to include in this package have to
	# be copied into debian/tmp. debian/tmp is a special directory
	# which is cleaned up automatically when dpkg-buildpackage is run.
	# Also, when --auto-dest is passed to dh_install, "debian/tmp" is
	# stripped from the destination path.
	#
	mkdir -p debian/tmp

	#
	# Each platform's package contains the commond set of files in
	# files/common as well as the platform-specific files in
	# files/PLATFORM.
	#
	cp -r files/common/* debian/tmp/
	if [ -d files/$(TARGET_PLATFORM)/ ]; then \
		cp -r files/$(TARGET_PLATFORM)/* debian/tmp/; \
	fi

	sed "s/@@TARGET_PLATFORM@@/$(TARGET_PLATFORM)/" \
		debian/tmp/var/lib/delphix-appliance/platform.in \
		>debian/tmp/var/lib/delphix-appliance/platform
	rm debian/tmp/var/lib/delphix-appliance/platform.in

	for type in $(DELPHIX_SIGNATURE_TYPES) ; do \
		./scripts/download-signature-key.sh $$type "$(DELPHIX_SIGNATURE_VERSION)" \
		>"debian/tmp/var/lib/delphix-appliance/key-public.pem.$$type.$(DELPHIX_SIGNATURE_VERSION)" ; done

	dh_install --autodest "debian/tmp/*"

override_dh_gencontrol:
	dh_gencontrol -- -Vdelphix:Depends="$(DEPENDS)"

override_dh_auto_build:
	#
	# Don't run default make target during the build step; there
	# isn't anything that needs to be built.
	#

override_dh_auto_test:
	#
	# Don't run 'make test' during the build step; we'll enforce
	# testing via another mechanism, so running it during package
	# builds is unnecessary.
	#

