#
# Copyright 2019 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[Unit]
Description=Delphix Appliance Platform Service
PartOf=delphix.target
After=local-fs.target
Before=rsync.service

[Service]
Type=oneshot
ExecStart=/var/lib/delphix-platform/ansible/apply
ExecStart=/var/lib/delphix-platform/dynamic-debug
RemainAfterExit=yes

#
# Although delphix-migration already defines a RequiredBy dependency on
# delphix-platform, that dependency is only honored when delphix-migration
# is enabled. If delphix-migration was manually disabled before migration
# completed, we still want to prevent delphix-platform from running, so
# it is done with this check. Note that "ConditionPathExists" is not a
# valid alternative since the result of the check doesn't prevent
# delphix-platform's dependencies from running.
#
ExecStartPre=/bin/bash -xc "test ! -e /var/delphix/migration/perform-migration"

#
# Please ensure this command remains consistent with the cleanup that
# must occur on package removal. Please see the package's "prerm" file
# for more details.
#
ExecReload=/bin/rm -f /var/lib/delphix-platform/ansible-done

#
# Environment variables sorted alphabetically based on variable name.
#
Environment=ANSIBLE_LOCAL_TEMP=/tmp
Environment=ANSIBLE_REMOTE_TEMP=/tmp
Environment=ANSIBLE_RETRY_FILE_ENABLED=0
Environment=DLPX_ANSIBLE_CONNECTION=local
Environment=DLPX_ANSIBLE_INVENTORY=localhost,

[Install]
WantedBy=delphix.target
